header {
    background-color: #f83492;
    display: flex;
    flex-direction: row;
}
.logoheader {
    width: 150px;
    margin: 15px 30px;
}
.nav {
    margin-left: 50px;
}
.navbar {
    margin-left: 50px;
    color: #fbf7f9;
    text-decoration: none;
    font-size: 23px;
}