@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #fbf7f9;
    color: #f83492;
    font-family: 'Poppins';
}

.mainproduit{
    display: flex;
    justify-content: center;
    padding: 150px;
}

.ficheproduit{
    border-color: #fde0ef;
    background-color: #FFF;
    border-radius: 2%;
    display: flex;
    flex-direction: row;

}

.img-fluid{
max-width: 100%;
}

.card-text{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.card-header{
    display: flex;
    justify-content:center;
    flex-direction:row;
}

.quantite{
    display: flex;
    justify-content:center;
    flex-direction:row;
}

.inputquantite{
 border: solid thin #f83492;
}

.btn{
    background-color: #f83492;
    border: none;
    font-family: 'Poppins';
    color: #fbf7f9;
}